@using BranchMonitorFrontEnd.DTO
@using Microsoft.AspNetCore.Authorization
@using BranchMonitorFrontEnd.Pages
@using Microsoft.AspNetCore.SignalR.Client
@using Monitoring.Shared.DTO.BranchDto
@inject AppSettings Settings
@inject AlertService AlertService

@inherits LayoutComponentBase
@inject AuthCredential _auth
@attribute [Authorize]

@if (User == null || Branch == null)
{
    <Preloder />
}
else
{
   
    @switch ((User?.status, Branch?.status))
    {
        case (false, _):
            <Unauthorized LoginUrl="/" HomeUrl="/" HomeUrlName="Sign In" LoginUrlName="Return Home" />
            break;

        case (true, false):
            <Unauthorized LoginUrl="/branches" HomeUrl="/branches" HomeUrlName="Branches" LoginUrlName="Return Home" />
            break;

        case (true, true):
            <div class="page">
                <BranchNavbar /> 

                @Body
                <AlertContainer />

            </div>
            break;

        default:
            <SignIn />
            break;
    }

 
}


@code {
    private LoggedInUser? User { get; set; }
    private LogInBranchDeties? Branch { get; set; }
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            
            User = await _auth.getLogginUserDetiles();
            Branch = await _auth.getLogginBranchDetiles();

        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred during initialization: {ex.Message}");
        }


    }

   

}